.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.thumbnail-container {
  flex: 0 0 auto; /* Thumbnail takes its natural size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  cursor: zoom-in;
  margin: 0;
  height: fit-content; /* Adjust height dynamically */
}

.magnified-image {
  flex: 1; /* Magnified image takes the remaining space */
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
}

.indicio-form-selected > p {
  margin: 0;
  font-size: 0.8rem;
  color: #262626;
}

.indicio-form-selected {
  width: 100%;
  padding: 1rem;
  display: flex
;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-start;
}

.indicio-form-selected > p.image-container-indicio {
  width: 100%;
  text-align: center;
}