.introduccion-section {
  background: #ffffff;
}

.introduccion-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.introduccion-left {
    width: 50%;
    background-size: cover;
    display: flex
;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.introduccion-left p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  margin: 0;
  max-width: 600px;
}

.introduccion-logo {
  max-width: 60%;
  max-height: 60%;
  width:100%;;
}

.introduccion-right {
  width: 50%;
  display: flex
;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: flex-end;
}

.introduccion-right > .introduccion-text {
  padding: 20px;
  display: flex
;
  justify-content: flex-start;
  margin: 2rem;
  margin-left: 5rem;
  flex-direction: column;
  max-height: 70%;
  overflow: overlay;
  margin-top: 15%;
  font-size: 0.8rem;
  line-height: 1rem;
}

.introduccion-decorative {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 5%);
    max-width: 200px;
    max-height: 460px;
    pointer-events: none;
    z-index: 1;
    width: 8%;
    height: auto;
}



.formulario-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 20px;
  width: 5rem;
  min-width: 20rem;
  background-color: rgb(179, 0, 0);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.formulario-button:hover {
  background-color: darkred;
}

.introduccion-right p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #333;
  text-align: justify;
  max-width: none;
}

.introduccion-right .imp {
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #ffffff;
  background: rgb(81, 142, 155);
  font-weight: 800;
  text-align: center;
  display: inline;
}

.introduccion-right a {
  color: #ffffff;
  background: rgb(81, 142, 155);
  font-weight: 800;
  text-decoration: none;
}

.introduccion-right a:hover {
  background: rgba(81, 141, 155, 0.375);
  color: #ffffff;
}
.introduccion-simple .introduccion-text p {
  margin: 1rem auto;
  line-height: 2rem;
}

.static-content .introduccion-decorative {
  right: 1%;
  left: auto;
}

@media screen and (max-width: 1000px) {
  .static-content .introduccion-decorative {
    display: none;
  }
}
